/* Main text properties */

body, p, table, td, th, input, select, textarea, li {
  	font-family: tahoma, verdana, arial;
  	font-size: 11px;
  	color: #333333;
}

body {
  	background-color: #DDDDDD;
}

a {
  	text-decoration: none;
  	color: #000099;
}
a:hover {
  	text-decoration: underline;
  	color: #0000FF;
}

h1 {
  	font-size: 22px;
}
h2 {
  	font-size: 18px;
}
h3 {
  	font-size: 14px;
}
h1, h2, h3, h4 {
  	font-family: trebuchet ms, verdana, tahoma, arial, sans-serif;
  	font-weight: bolder;
  	color: black;
}

.code { 
    color: black;
    font-weight: bold;
}
pre.code {
    border-left: dotted #999999 2px;
    padding-left: 10px;
    margin-left: 10px;
}

p {
    padding-left: 10px;
    padding-right: 10px;    
}

tt, .code {
    font-family: consolas, lucida console, courier new;
}

.directive {
    border-bottom: solid #333333 2px;
}
.directive h3 {
    border-top: solid #CCCCCC 1px;
    padding-top: 10px;
    margin-bottom: 10px;
}

/* Tables */
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    border: solid #666666 1px;
    padding: 2px 10px 2px 10px;
    background-color: #EEEEEE;
    text-align: center;
}
td {
    color: black;
}
th {
    background-color: #666666;
    color: white;
}

.always {
    background: #DDFFDD;
    color: black;
}

#changes p {
    margin: 2px;
    margin-left: 20px;
}
#changes p b {
    margin-left: -10px;
}
#changes {
    height: 200px;
    overflow: scroll;
    border: solid 10px #CCCCCC;
    padding: 10px;
    margin: 5px;
}
#changes h3 {
    margin: 0px;
}

/* Menu styles */

#nav {	/* Global */
	margin: 0px;
	padding-top: 2px;
	padding-left: 10px;
	float: left;
	display: block;
}

#nav ul {
  	padding: 0px;
  	margin: 0px;
  	border-style: solid;
  	border-width: 1px;
  	border-color: white;
}


#nav li {	/* Top level (menu strip) */
  	float: left;
  	padding-right: 15px;
	padding-left: 15px;  	
  	padding-bottom: 4px;
  	position: relative;
	list-style: none;  
	z-index: 200;
	font-size: 10px;
	font-weight: bold;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
}



#nav a {	/* Link style */
	display: block;
	text-decoration: none;
	color: white;
}

#nav li a:hover {	/* Hover text colour on root elements */
  	color: black;
}

#nav li ul {	/* Menu backgrounds */
	z-index: 10;
	position: absolute;
    visibility: hidden;
  	background-color: #999999;
  	display: block;
  	width: 100%;
}

#nav li li {	/* General case subitems */
	padding: 2px 3px 2px 3px;
	float: none;
	z-index: 1;
    border-style: solid none solid none;
    border-width: 1px 0px 1px 0px;
    border-top-color: white;
    border-bottom-color: white;
	margin-top: -1px;
  	background-color: #999999;
  	display: block;
 	
}

#nav li li a:hover {	/* We don't want the hover to go black here */
  	color: white;
}

#nav li ul {
	margin: 4px 0px 0px 0px;
	padding: 0px;
}

#nav li ul ul {
	margin: -16px 0px 0px 0px;
	padding: 0px;
}

#nav li li:hover,
#nav li li.sfhover {
  	background-color: #00AEED;
}


#nav li:hover ul ul,
#nav li:hover ul ul ul,
#nav li:hover ul ul ul ul,
#nav li:hover ul ul ul ul ul,
#nav li.sfhover ul ul,
#nav li.sfhover ul ul ul,
#nav li.sfhover ul ul ul ul,
#nav li.sfhover ul ul ul ul ul {
	visibility: hidden;
}

#nav li:hover ul,
#nav li li:hover ul,
#nav li li li:hover ul,
#nav li li li li:hover ul,
#nav li li li li li:hover ul,
#nav li.sfhover ul,
#nav li li.sfhover ul,
#nav li li li.sfhover ul,
#nav li li li li.sfhover ul,
#nav li li li li li.sfhover ul {
    visibility: visible;
}




#banner {
  	background-color: white;
  	height: 64px;
	vertical-align: middle;
	display: block;
}
#banner img {
    float: left;
	padding: 8px;
}
#banner h1 {
    float: left;
    margin-left: 5px;
    margin-top: 20px;
}



/* Site layout */


#page {	/* Main body pane */
  	margin-left: auto;
  	margin-right: auto;
  	width: 800px;
  	background-color: #EEEEEE;
}

#menubar { /* Menu bar */
	height: 18px;
	background-color: #666666;
}

#content { /* Main page content */
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 10px;
	border-color: #CCCCCC;
	margin: 0px;
	padding: 5px;
}

