/* Main text properties */

body, p, table, td, th, input, select, textarea, li {
  	font-family: tahoma, verdana, arial;
  	font-size: 11px;
  	color: #333333;
}


a {
  	text-decoration: none;
  	color: #000099;
}
a:hover {
  	text-decoration: underline;
  	color: #0000FF;
}

h1 {
  	font-size: 22px;
}
h2 {
  	font-size: 18px;
}
h3 {
  	font-size: 14px;
}
h1, h2, h3, h4 {
  	font-family: trebuchet ms, verdana, tahoma, arial, sans-serif;
  	font-weight: bolder;
  	color: black;
}

.code { 
    color: black;
    font-weight: bold;
}
pre.code {
    border-left: dotted #999999 2px;
    padding-left: 10px;
    margin-left: 10px;
}

h3, p {
    padding-left: 10px;
    padding-right: 10px;    
}
h3 {
    padding-top: 5px;
}

tt, .code {
    font-family: consolas, lucida console, courier new;
}

.directive {
    border-bottom: solid #333333 2px;
}
.directive h3 {
    border-top: solid #CCCCCC 1px;
    padding-top: 10px;
    margin-bottom: 10px;
}

/* Tables */
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td, th {
    border: solid #666666 1px;
    padding: 2px 10px 2px 10px;
    background-color: #EEEEEE;
    text-align: center;
    margin: 0px;
}
td {
    color: black;
}
th {
    background-color: #666666;
    color: white;
}

.always {
    background: #DDFFDD;
    color: black;
}

#changes p {
    margin: 2px;
    margin-left: 20px;
}
#changes p b {
    margin-left: -10px;
}
#changes {
/*    height: 200px;
    overflow: scroll;
    border: solid 10px #CCCCCC;
    padding: 10px;
    margin: 5px; */
}
#changes h3 {
    margin: 0px;
}


#banner {
	vertical-align: middle;
	height: 64px;
}
#banner img {
    float: left;
	padding: 8px;
}
#banner h1 {
    float: left;
    margin-left: 5px;
    margin-top: 18px;
}



/* Site layout */

iframe {
    border: none;
    margin: 0px;
    padding: 0px;
}


#webring {
    text-align: right;
}
#contents ul, #contents li {
    margin: 0px 0px 0px 6px;
    padding: 0px;
    list-style: none;
}

html {
    background-color: white;
}